// Bulma Framework
@import "bulma.min";

// navbar
.navbar{
  margin-bottom: 15px;
}

// home page 

.header-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.49),rgba(0, 0, 0, 0.89)),url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1183172/Plant.jpg');
  background-size:cover;
  
}
// Design
// Photography
// Typeography
// 