/* // references: // creotip // tyreil // */
/*  STYLE SHEETS*/
@import '/css/burger.scss';
@import '/css/photo.css'
/*  COLORS
========================================== */
$black: #000000;
$white: #ffffff;
$gray: #595959;
$yellow: #ECFF04;
$blue: #375764;
$lightblue: #93BECB;
/*  FONTS
========================================== */
$amatic: 'Amatic SC', cursive;
$opensans: 'Open Sans', sans-serif;
html{
  background: #ffffff;
}
p{
  font-family: $opensans;
  color:$gray;
  }
h1{
  font-family:$amatic;
  color:$lightblue;
  font-size:7em;
  text-transform: uppercase;
}
h2{
  font-size: 2em;
  font-family:'Open Sans', sans-serif;
}
/*  BRACKETS
========================================== */
a{
  text-decoration:none;
}

a:hover{
    color: $yellow;
  }

#bracket-position{
  position:fixed;
  margin-top: 70vh;
  padding-left: 40px;
}
#bracket {
  margin-bottom:4px;
  margin-left:15px;
  width:40vw;
  height:175px;
  position:relative;
}
#bracket-text{
  top:23px;
  left:25px;
  position:absolute;
  p{
    color:$blue;
    font-family:$opensans;
    text-decoration:none;
    font-size:1.25em;
  }
  #smalltext{
    font-size:.75em;
    font-family:$amatic;
  }
}
#bracket-top {
  width: 50px;
  height: 12px;
  background: $yellow;
  position:absolute;
  top:0;
    }
 #bracket-long {
   width: 13px;
   height: 175px;
   background: $yellow;
   position:absolute;
   left:0;
    }
 #bracket-bottom {  
   width: 50px;
  height: 12px;
   background: $yellow;
   bottom:0;
   position:absolute; 
    }


/*  MIXINS
========================================== */
@mixin transform($transform) {
  -webkit-transform: $transform;
     -moz-transform: $transform;
      -ms-transform: $transform;
       -o-transform: $transform;
          transform: $transform;
}

@mixin transition($transition) {
  -webkit-transition: #{$transition};
     -moz-transition: #{$transition};
       -o-transition: #{$transition};
          transition: #{$transition};
}

@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: #{$transition-delay};
     -moz-transition-delay: #{$transition-delay};
       -o-transition-delay: #{$transition-delay};
          transition-delay: #{$transition-delay};
}

/*  RESET
========================================== */

*, *:before, *:after {
  // margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  
  &.overflow {
    overflow: hidden;
  }
}

/*  BURGER
========================================== */
.burger {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 4px;
  z-index: 10;
  
  span {
    @include burger(30px, 3px, 6px, $gray); // gray
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -1.5px;
  }
  
  &.clicked {
    span {
      @include burger-to-cross;
      
      &:before, &:after {
        background-color: $white;
      }
    }
  }
  
  &:hover {
    cursor: pointer;
  }
}

/*  NAV
========================================== */
*{
  margin: 10px;
  font-family: "Open Sans", sans-serif;
}
a{
  font-size:12px;
  line-height:;
}
section{
  height: 5vh;
  background-color: #008080;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-btn{
  display: block;
  background-color: #fff;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center; 
  position: relative;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after{
  position: absolute;
  display: block;
  height: 4px; margin-top:-2px;
  width: 30px; margin-left:-15px;
  top:50%;
  left: 50%;
  background-color: #222;
}
.menu-btn span::before,
.menu-btn span::after{
  content:'';
  display: block;
  transition: .3s;
}
.menu-btn span::before{
  transform: translateY(-10px);
}
.menu-btn span::after{
  transform: translateY(10px);
}
.menu-btn_active span::before{
  transform: rotate(45deg);
}
.menu-btn_active span::after{
  transform: rotate(-45deg);
}
.menu-btn_active span{
  height: 0;
}
.menu-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links {
  text-decoration: none;
  color: #222;
  text-transform: uppercase;
  font-weight: 100;
  display: inline-block;
  margin-right: 20px;
  transition: 1s;
}
.menu-nav {
  transition: 0.2s;
  transform: scaleX(0) translateX(0%);
  transform-origin: right center;
  opacity: 0;
  visibility: hidden;
  height: 100px;
  line-height: 10px;
  background-color: #fff;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: -45px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.menu-nav_active {
  transform: scaleX(1) translateX(0%);
  opacity: 1;
  visibility: visible;
}



/*  OVERLAY
========================================== */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height:100%;
  @include transition(all 0.3s ease-in-out);
  background-color: $blue;
  opacity: 0.01;
  visibility: hidden;
  
  &.show {
    opacity: 0.8;
    visibility: visible;
  }
}
aside {
	margin-left:10px;
	height: 100vh;
	width: 40vw; 
  max-width:600px;
	position: fixed;
	right: 0;
	bottom: 0;
}
.asidesquare{
	margin: 5% 6% 5% 5%;
	height: 95%;
	width: 90%;
/* 	position:center; */
	background-color: $lightblue;
	float: right;
}
/*  Photogallery
========================================== */
@import 'assets/css/photo.css';

/*  MEDIAs
========================================== */
@media(min-width: 848px){
  .mobiletop{
   display: none;
  }
  
}
@media(max-width: 848px){
.left{
	margin:75px 10px 10px 10px;
    width:90vw;
	}
  aside{
   display: none;
  }
  #bracket{
    height:100px;
    width:100px; 
  }
  #bracket-text{
    display:none;
  }
}

/*  About me
========================================== */
.left {
	margin-right: 40vw;
  margin-top: 40px;
  section{
    padding: 2em;
}
.AboutMe{
  margin: 40px;
  max-width:450px;
}
.aboutsocial, a {
  margin-right:16px;
  }}
