/* // references: // creotip // tyreil // */
/*  STYLE SHEETS*/
// @import '/css/burger.css';
/*  COLORS
========================================== */
$black: #000000;
$white: #ffffff;
$gray: #595959;
$yellow: #ECFF04;
$blue: #375764;
$lightblue: #93BECB;
/*  FONTS
========================================== */
$amatic: 'Amatic SC', cursive;
$opensans: 'Open Sans', sans-serif;
p{
  font-family:$opensans;
  color:$gray;
}
h1{
  font-family:$amatic;
  color:$lightblue;
  font-size:3em;
}

/*  BRACKETS
========================================== */
a{
  text-decoration:none;
}

a:hover{
    color: $yellow;
  }

#bracket-position{
  position:fixed;
  margin-top: 70vh;
  padding-left: 40px;
}
#bracket {
  margin-bottom:4px;
  margin-left:15px;
  width:40vw;
  height:175px;
  position:relative;
}
#bracket-text{
  top:23px;
  left:25px;
  position:absolute;
  p{
    color:$blue;
    font-family:$opensans;
    text-decoration:none;
    font-size:1.25em;
  }
  #smalltext{
    font-size:.75em;
    font-family:$amatic;
  }
}
#bracket-top {
  width: 50px;
  height: 12px;
  background: $yellow;
  position:absolute;
  top:0;
    }
 #bracket-long {
   width: 13px;
   height: 175px;
   background: $yellow;
   position:absolute;
   left:0;
    }
 #bracket-bottom {  
   width: 50px;
  height: 12px;
   background: $yellow;
   bottom:0;
   position:absolute; 
    }


/*  MIXINS
========================================== */
@mixin transform($transform) {
  -webkit-transform: $transform;
     -moz-transform: $transform;
      -ms-transform: $transform;
       -o-transform: $transform;
          transform: $transform;
}

@mixin transition($transition) {
  -webkit-transition: #{$transition};
     -moz-transition: #{$transition};
       -o-transition: #{$transition};
          transition: #{$transition};
}

@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: #{$transition-delay};
     -moz-transition-delay: #{$transition-delay};
       -o-transition-delay: #{$transition-delay};
          transition-delay: #{$transition-delay};
}

/*  RESET
========================================== */

*, *:before, *:after {
  // margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  
  &.overflow {
    overflow: hidden;
  }
}

/*  BURGER
========================================== */
.burger {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 4px;
  z-index: 10;
  
  span {
    @include burger(30px, 3px, 6px, $gray); // gray
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -1.5px;
  }
  
  &.clicked {
    span {
      @include burger-to-cross;
      
      &:before, &:after {
        background-color: $white;
      }
    }
  }
  
  &:hover {
    cursor: pointer;
  }
}

/*  NAV
========================================== */
nav {
  background-color: $gray;
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 515px;
  width: 100%;
  padding: 100px 40px 60px 40px;
  overflow-y: auto;
  @include transform(translateX(100%));
  @include transition(transform .55s cubic-bezier(0.785, 0.135, 0.15, 0.86));
  
  &.show {
    @include transform(translateX(0px));
    
    ul.main {
      li {
        @include transform(translateX(0px));
        opacity: 1;
        
        @for $i from 1 to 10 { 
          &:nth-child(#{$i}) {
            transition-delay: $i * 0.15s;
          }
        }
      }
    }
    
    .about, .social, ul.sub {
      @include transform(translateY(0px));
      opacity: 1;
      transition-delay: .85s;
    }
  }
  
  @media (min-width: 667px) {
    padding: 120px 90px 70px 90px;
  }
   
  ul.main {
    list-style-type: none;
    
    li {
      margin-bottom: 20px;
      @include transform(translateX(40px));
      opacity: 0;
      @include transition(all .3s ease);
      
      &:last-of-type {
        margin-bottom: 0px;
      }
      
      a {
        color: $white;
        font-family: $amatic;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.5rem;
        display: block;
        letter-spacing: 5px;
        font-weight: 600;
        padding: 10px 0;
        @include transition(all .3s ease);
        
        span {
          color: $lightblue;
          font-size:15px;
        }
        
        &:hover {
          color: $yellow;
        }
      }
    }
  }
  .etsy{
    height:30px;
  }  
  .about {
    margin-top: 40px;
    @include transform(translateY(30px));
    opacity: 0;
    @include transition(all .4s ease);
    
    p {
      color: $white;
      font-family: $opensans;
      font-size: 1.05rem;
      letter-spacing: 0.5px;
      line-height: 170%;
    }
  }
  
  .social {
    margin-top: 60px;
    position: relative;
    padding-bottom: 30px;
    @include transform(translateY(30px));
    opacity: 0;
    @include transition(all .4s ease);
    
    &:after {
      content: "";
      width: 230px;
      height: 2px;
      background-color: $yellow;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    
    a {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-right: 25px;
      
      &:last-of-type {
        margin-right: 0px;
      }
      
      &:hover {
        svg {
          path, circle {
            fill: $lightblue;
          }
        }
      }
      
      svg {
        width: 100%;
        height: 100%;
        
        path, circle {
          fill: $white;
          @include transition(all .3s ease);
        }
      }
    }
  }
  
  ul.sub {
    list-style-type: none;
    margin-top: 40px;
    @include transform(translateY(30px));
    opacity: 0;
    @include transition(all .4s ease);
    
    li {
      margin-bottom: 10px;
      
      &:last-of-type {
        margin-bottom: 0px;
      }
      
      a {
        color: $white;
        font-family: $amatic;
        letter-spacing: 1px;
        font-size: 0.9rem;
        text-decoration: none;
        @include transition(all .3s ease);
        
        &:hover {
          color: $yellow;
        }
      }
    }
  }
}

/*  OVERLAY
========================================== */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height:100%;
  @include transition(all 0.3s ease-in-out);
  background-color: $blue;
  opacity: 0.01;
  visibility: hidden;
  
  &.show {
    opacity: 0.8;
    visibility: visible;
  }
}
aside {
	margin-left:10px;
	height: 100vh;
	width: 40vw; 
  max-width:600px;
	position: fixed;
	right: 0;
	bottom: 0;
}
.asidesquare{
	margin: 5% 6% 5% 5%;
	height: 95%;
	width: 90%;
/* 	position:center; */
	background-color: $lightblue;
	float: right;
}
/*  Photogallery
========================================== */
:root {
	/* Base font size */
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 15rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}

/*  MEDIAs
========================================== */
@media(min-width: 848px){
  .mobiletop{
   display: none;
  }
  
}
@media(max-width: 848px){
.left{
	margin:75px 10px 10px 10px;
    width:90vw;
	}
  aside{
   display: none;
  }
  #bracket{
    height:100px;
    width:100px; 
  }
  #bracket-text{
    display:none;
  }
}

/*  About me
========================================== */
.left {
	margin-right: 40vw;
  margin-top: 40px;
  section{
    padding: 2em;
}
.AboutMe{
  margin: 40px;
  max-width:450px;
}
.aboutsocial, a {
  margin-right:16px;
  }}
