/* // references: // creotip // tyreil // */
/*  STYLE SHEETS
========================================== */
@import url(burger.processed.css);
@import url(photo.css);
/*  COLORS
========================================== */
/*  FONTS
========================================== */
/*  BRACKETS
========================================== */
a {
  text-decoration: none;
}

a:hover {
  color: #ECFF04;
}

#bracket-position {
  position: fixed;
  margin-top: 70vh;
  padding-left: 40px;
}

#bracket {
  margin-bottom: 4px;
  margin-left: 15px;
  width: 40vw;
  height: 175px;
  position: relative;
}

#bracket-text {
  top: 23px;
  left: 25px;
  position: absolute;
}

#bracket-text p {
  color: #375764;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  font-size: 1.25em;
}

#bracket-text #smalltext {
  font-size: .75em;
  font-family: "Amatic SC", cursive;
}

#bracket-top {
  width: 50px;
  height: 12px;
  background: #ECFF04;
  position: absolute;
  top: 0;
}

#bracket-long {
  width: 13px;
  height: 175px;
  background: #ECFF04;
  position: absolute;
  left: 0;
}

#bracket-bottom {
  width: 50px;
  height: 12px;
  background: #ECFF04;
  bottom: 0;
  position: absolute;
}

/*  MIXINS
========================================== */
/*  RESET
========================================== */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

body.overflow {
  overflow: hidden;
}

/*  BURGER
========================================== */
.burger {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 4px;
  z-index: 10;
}

.burger span {
  position: relative;
  margin-top: 9px;
  margin-bottom: 9px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -1.5px;
}

.burger span, .burger span::before, .burger span::after {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #595959;
  outline: 1px solid transparent;
  -webkit-transition-property: background-color, -webkit-transform;
  -moz-transition-property: background-color, -moz-transform;
  -o-transition-property: background-color, -o-transform;
  transition-property: background-color, transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.burger span::before, .burger span::after {
  position: absolute;
  content: "";
}

.burger span::before {
  top: -9px;
}

.burger span::after {
  top: 9px;
}

.burger.clicked span {
  background-color: transparent;
}

.burger.clicked span::before {
  -webkit-transform: translateY(9px) rotate(45deg);
  -moz-transform: translateY(9px) rotate(45deg);
  -ms-transform: translateY(9px) rotate(45deg);
  -o-transform: translateY(9px) rotate(45deg);
  transform: translateY(9px) rotate(45deg);
}

.burger.clicked span::after {
  -webkit-transform: translateY(-9px) rotate(-45deg);
  -moz-transform: translateY(-9px) rotate(-45deg);
  -ms-transform: translateY(-9px) rotate(-45deg);
  -o-transform: translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg);
}

.burger.clicked span:before, .burger.clicked span:after {
  background-color: #ffffff;
}

.burger:hover {
  cursor: pointer;
}

/*  NAV
========================================== */
nav {
  background-color: #595959;
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 515px;
  width: 100%;
  padding: 100px 40px 60px 40px;
  overflow-y: auto;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

nav.show {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}

nav.show ul.main li {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}

nav.show ul.main li:nth-child(1) {
  transition-delay: 0.15s;
}

nav.show ul.main li:nth-child(2) {
  transition-delay: 0.3s;
}

nav.show ul.main li:nth-child(3) {
  transition-delay: 0.45s;
}

nav.show ul.main li:nth-child(4) {
  transition-delay: 0.6s;
}

nav.show ul.main li:nth-child(5) {
  transition-delay: 0.75s;
}

nav.show ul.main li:nth-child(6) {
  transition-delay: 0.9s;
}

nav.show ul.main li:nth-child(7) {
  transition-delay: 1.05s;
}

nav.show ul.main li:nth-child(8) {
  transition-delay: 1.2s;
}

nav.show ul.main li:nth-child(9) {
  transition-delay: 1.35s;
}

nav.show .about, nav.show .social, nav.show ul.sub {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  transition-delay: .85s;
}

@media (min-width: 667px) {
  nav {
    padding: 120px 90px 70px 90px;
  }
}

nav ul.main {
  list-style-type: none;
}

nav ul.main li {
  margin-bottom: 20px;
  -webkit-transform: translateX(40px);
  -moz-transform: translateX(40px);
  -ms-transform: translateX(40px);
  -o-transform: translateX(40px);
  transform: translateX(40px);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav ul.main li:last-of-type {
  margin-bottom: 0px;
}

nav ul.main li a {
  color: #ffffff;
  font-family: "Amatic SC", cursive;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  display: block;
  letter-spacing: 5px;
  font-weight: 600;
  padding: 10px 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav ul.main li a span {
  color: #93BECB;
  font-size: 15px;
}

nav ul.main li a:hover {
  color: #ECFF04;
}

nav .about {
  margin-top: 40px;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav .about p {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.05rem;
  letter-spacing: 0.5px;
  line-height: 170%;
}

nav .social {
  margin-top: 40px;
  position: relative;
  padding-bottom: 30px;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav .social:after {
  content: "";
  width: 230px;
  height: 2px;
  background-color: #ECFF04;
  position: absolute;
  bottom: 0;
  left: 0;
}

nav .social a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 25px;
}

nav .social a:last-of-type {
  margin-right: 0px;
}

nav .social a:hover svg path, nav .social a:hover svg circle {
  fill: #93BECB;
}

nav .social a svg {
  width: 100%;
  height: 100%;
}

nav .social a svg path, nav .social a svg circle {
  fill: #ffffff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav ul.sub {
  list-style-type: none;
  margin-top: 40px;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav ul.sub li {
  margin-bottom: 10px;
}

nav ul.sub li:last-of-type {
  margin-bottom: 0px;
}

nav ul.sub li a {
  color: #ffffff;
  font-family: "Amatic SC", cursive;
  letter-spacing: 1px;
  font-size: 0.9rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav ul.sub li a:hover {
  color: #ECFF04;
}

/*  OVERLAY
========================================== */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #375764;
  opacity: 0.01;
  visibility: hidden;
}

.overlay.show {
  opacity: 0.8;
  visibility: visible;
}

aside {
  margin-left: 10px;
  height: 100vh;
  width: 40vw;
  max-width: 600px;
  position: fixed;
  right: 0;
  bottom: 0;
}

.asidesquare {
  margin: 5% 6% 5% 5%;
  height: 95%;
  width: 90%;
  /* 	position:center; */
  background-color: #93BECB;
  float: right;
}

@media (min-width: 848px) {
  .mobiletop {
    display: none;
  }
}

@media (max-width: 848px) {
  .left {
    margin: 75px 10px 10px 10px;
    width: 90vw;
  }
  aside {
    display: none;
  }
  #bracket {
    height: 100px;
    width: 100px;
  }
  #bracket-text {
    display: none;
  }
}

/*  About me
========================================== */
.left {
  margin-right: 40vw;
}

.AboutMe {
  margin: 40px;
  max-width: 450px;
}
