html{
  font-family: url('https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans');
  background: #ffffff;}
 p {
    font-family: 'Open Sans', sans-serif;
   }
h1{
  font-family: "Amatic SC", cursive;
  font-size: 3em;
  text-transform: uppercase;
}
h2{
  font-size: 2em;
  font-family:'Open Sans', sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 60vw;
}

.button {
  flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
  border: 2px solid #595959;
  background-color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  color: #93BECB;
  position: relative;
  overflow: hidden;
  transition: .3s;
  background: #ffffff;
}
.button:hover {
  cursor: pointer;
  border-radius: 30px;
}

.tile {
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all 350ms ease;
}

#display {
  min-width: 380px;
}

.mobiletop {
  display: flex;
}

.btn {
  margin: 10, 10, 10, 10;
}

#portfolio {
  margin: 1rem 0;
  -webkit-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 1rem;
  column-gap: 1rem;
  -webkit-column-width: 33.33333333333333%;
  column-width: 33.33333333333333%;
}

.tile {
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all 350ms ease;
}

.scale-anm {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btn:hover {
  cursor: pointer;
  background: #333;
  color: #eee;
}

.tile img {
  max-width: 100%;
  width: 100%;
  height: 90%;
  margin-bottom: 1rem;
}

.btn {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  padding: .35rem 1rem;
  margin-top: 5px;
  height: auto;
  border: 1px solid;
  vertical-align: middle;
  -webkit-appearance: none;
  color: #595959;
  background-color: rgba(0, 0, 0, 0);
}

.button:focus {
  outline: none;
  border-color: var(--darken-2);
  box-shadow: 0 0 0 3px var(--darken-3);
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* 
nav */

*{
  margin: 10px;
  font-family: "Open Sans", sans-serif;
}
a{
  font-size:12px;
  line-height:;
}
section{
  height: 5vh;
  background-color: #008080;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-btn{
  display: block;
  background-color: #fff;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center; 
  position: relative;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after{
  position: absolute;
  display: block;
  height: 4px; margin-top:-2px;
  width: 30px; margin-left:-15px;
  top:50%;
  left: 50%;
  background-color: #222;
}
.menu-btn span::before,
.menu-btn span::after{
  content:'';
  display: block;
  transition: .3s;
}
.menu-btn span::before{
  transform: translateY(-10px);
}
.menu-btn span::after{
  transform: translateY(10px);
}
.menu-btn_active span::before{
  transform: rotate(45deg);
}
.menu-btn_active span::after{
  transform: rotate(-45deg);
}
.menu-btn_active span{
  height: 0;
}
.menu-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links {
  text-decoration: none;
  color: #222;
  text-transform: uppercase;
  font-weight: 100;
  display: inline-block;
  margin-right: 20px;
  transition: 1s;
}
.menu-nav {
  transition: 0.2s;
  transform: scaleX(0) translateX(0%);
  transform-origin: right center;
  opacity: 0;
  visibility: hidden;
  height: 100px;
  line-height: 10px;
  background-color: #fff;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: -45px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.menu-nav_active {
  transform: scaleX(1) translateX(0%);
  opacity: 1;
  visibility: visible;
}