  <!DOCTYPE html>
<html>
  <head>
    
    <!-- RWD -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- iOS MetaTags -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="SketchGo">

    <!-- Web App Manfiest -->
    <meta name="theme-color" content="red">
    <meta name="theme-color" content="red">
    
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    
    <!--  Bulma -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    
    <!--  This Site/App -->
    <title>My portfolio</title>
    <link rel="stylesheet" href="css/styles.processed.css">
    
  </head>
  <body>
  <!--     nav bar -->
    <!-- do this seperately -->
<html class="has-navbar-fixed-top">
<nav class="navbar is-transparent is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item" href="index.html">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1183172/logo-02.png" alt="Brittany Castillo Design" width="38" height="28">
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="sutterbug.html">
        ShutterBug
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="x">
          Work
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="photography.html">
            Photography
          </a>
          <a class="navbar-item" href="x">
            Resume
          </a>
          <a class="navbar-item" href="design.html">
            Design
          </a>
          
          
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" data-social-target="http://localhost:4000" target="_blank" href="https://twitter.com/intent/tweet?text=Hey @designnative10 I flipped through your portfolio, nice work!">
              <span class="icon">
                <i class="fab fa-twitter"></i>
              </span>
              <span>
                Tweet
              </span>
            </a>
          </p>
          <p class="control">
            <a class="button is-dark" href="https://www.instagram.com/brittanycastillo.designs/">
              <span class="icon">
                <i class="fab fa-instagram"></i>
              </span>
              <span>Contact</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
<!--   end nav -->
  <br>
  <!--  Your Progressive Web App   -->
  <main class="container">
    
     
    <section class="hero is-primary is-large header-image">
    <div class="hero-head">
      
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-2">
          Brittany Castillo
        </h1>
        <center>
          
            <div class="pulse" style="width: 150px;">
              <h1><span>Hello!</span></h1>
</div>
        </center>
      </div>
    </div>
  </section>
    
  </main>    
    
  <!-- Scripts -->
<script src="js/scripts.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/webanimations.min.js"></script>





  </body>
</html>
